p { 
    font-family: "Open Sans Regualn";
}

form {
    margin-top: 135px;
    margin-left: 62px;
    margin-right: 62px;
}

label {
    font-size: 20px;
    font-family: "helvetica";
    font-weight: bold;

}

.navbar {
    position: fixed;
    box-sizing: border-box;
    z-index: 999;
    clear: both;
    /* overflow:hidden; */
    background-color: #fff;
    height: 102px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    top: 0px;
    bottom: 0px;
    padding-bottom: 6px;
    padding-top: 23px;
    width: 100%;
}

.navbar-brand {
    margin-right: 690px;
    margin-top: -17px;
    margin-left: -16px;
    padding-bottom: 6px;
    top:5px;
}

.nav-link {
    font-size: 25px;
    margin-right: 20px;
    color: black !important;
}

.nav-link:hover {
    color:#1b7890 !important;
    text-decoration: underline;
}

.container-big {
    margin-top: 115px;
}

h1 {
    font-family: "Open Sans Bold";
    font-size: 70px;
    
}

h2 {
    text-decoration: underline;
}

.budget {
    margin-top: 30px;
    margin-left: 62px;
}

.services {
    margin-left: 62px;
}

.btn {
background-color: #1b7890 !important;
}



.boas-logo-footer {
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;   
}

.card {
    border-top-width: 5px;
    border-top-color: black;
padding-top: 30px;
}

.social-media-area {
    text-align: center;
}

.copyright {
    text-align: center;   
}